@import "./../libs/bootstrap.min.css";
@font-face {
  font-family: "Raleway";
  src: local("Raleway Thin"), local("Raleway-Thin"), url("../../fonts/raleway/ralewaythin.woff2") format("woff2"), url("../../fonts/raleway/ralewaythin.woff") format("woff"), url("../../fonts/raleway/ralewaythin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Thin Italic"), local("Raleway-ThinItalic"), url("../../fonts/raleway/ralewaythinitalic.woff2") format("woff2"), url("../../fonts/raleway/ralewaythinitalic.woff") format("woff"), url("../../fonts/raleway/ralewaythinitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url("../../fonts/raleway/ralewayextralight.woff2") format("woff2"), url("../../fonts/raleway/ralewayextralight.woff") format("woff"), url("../../fonts/raleway/ralewayextralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway ExtraLight Italic"), local("Raleway-ExtraLightItalic"), url("../../fonts/raleway/ralewayextralightitalic.woff2") format("woff2"), url("../../fonts/raleway/ralewayextralightitalic.woff") format("woff"), url("../../fonts/raleway/ralewayextralightitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Light"), local("Raleway-Light"), url("../../fonts/raleway/ralewaylight.woff2") format("woff2"), url("../../fonts/raleway/ralewaylight.woff") format("woff"), url("../../fonts/raleway/ralewaylight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Light Italic"), local("Raleway-LightItalic"), url("../../fonts/raleway/ralewaylightitalic.woff2") format("woff2"), url("../../fonts/raleway/ralewaylightitalic.woff") format("woff"), url("../../fonts/raleway/ralewaylightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Regular"), local("Raleway-Regular"), url("../../fonts/raleway/ralewayregular.woff2") format("woff2"), url("../../fonts/raleway/ralewayregular.woff") format("woff"), url("../../fonts/raleway/ralewayregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Italic"), local("Raleway-Italic"), url("../../fonts/raleway/ralewayitalic.woff2") format("woff2"), url("../../fonts/raleway/ralewayitalic.woff") format("woff"), url("../../fonts/raleway/ralewayitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium"), local("Raleway-Medium"), url("../../fonts/raleway/ralewaymedium.woff2") format("woff2"), url("../../fonts/raleway/ralewaymedium.woff") format("woff"), url("../../fonts/raleway/ralewaymedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium Italic"), local("Raleway-MediumItalic"), url("../../fonts/raleway/ralewaymediumitalic.woff2") format("woff2"), url("../../fonts/raleway/ralewaymediumitalic.woff") format("woff"), url("../../fonts/raleway/ralewaymediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("../../fonts/raleway/ralewaysemibold.woff2") format("woff2"), url("../../fonts/raleway/ralewaysemibold.woff") format("woff"), url("../../fonts/raleway/ralewaysemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway SemiBold Italic"), local("Raleway-SemiBoldItalic"), url("../../fonts/raleway/ralewaysemibolditalic.woff2") format("woff2"), url("../../fonts/raleway/ralewaysemibolditalic.woff") format("woff"), url("../../fonts/raleway/ralewaysemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../../fonts/raleway/ralewaybold.woff2") format("woff2"), url("../../fonts/raleway/ralewaybold.woff") format("woff"), url("../../fonts/raleway/ralewaybold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Bold Italic"), local("Raleway-BoldItalic"), url("../../fonts/raleway/ralewaybolditalic.woff2") format("woff2"), url("../../fonts/raleway/ralewaybolditalic.woff") format("woff"), url("../../fonts/raleway/ralewaybolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url("../../fonts/raleway/ralewayextrabold.woff2") format("woff2"), url("../../fonts/raleway/ralewayextrabold.woff") format("woff"), url("../../fonts/raleway/ralewayextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway ExtraBold Italic"), local("Raleway-ExtraBoldItalic"), url("../../fonts/raleway/ralewayextrabolditalic.woff2") format("woff2"), url("../../fonts/raleway/ralewayextrabolditalic.woff") format("woff"), url("../../fonts/raleway/ralewayextrabolditalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Black"), local("Raleway-Black"), url("../../fonts/raleway/ralewayblack.woff2") format("woff2"), url("../../fonts/raleway/ralewayblack.woff") format("woff"), url("../../fonts/raleway/ralewayblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Black Italic"), local("Raleway-BlackItalic"), url("../../fonts/raleway/ralewayblackitalic.woff2") format("woff2"), url("../../fonts/raleway/ralewayblackitalic.woff") format("woff"), url("../../fonts/raleway/ralewayblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
*, :after, :before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: 320px;
}

body {
  height: 100%;
  font-family: Raleway, sans-serif;
  line-height: 1.2;
  min-width: 320px;
}

.overf_active {
  overflow: hidden;
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}
ul {
  list-style: none;
}

.header {
  position: relative;
}
.header__wr {
  position: relative;
}
.header .logo img {
  height: 22px;
}
.header__link {
  color: #0F0E16;
  font-size: 10px;
}
.header__nav {
  margin-bottom: 3px;
}
.header__nav li:not(:last-of-type) {
  margin-right: 45px;
}
.header img[alt=geo] {
  display: inline-block;
  margin-right: 5px;
}
.header img[alt=sign] {
  display: inline-block;
  margin-left: 4px;
}

@media (max-width: 991.8px) {
  .header__nav li:not(:last-of-type) {
    margin-right: 15px;
  }
}
@media (max-width: 767.8px) {
  .header__nav {
    margin-bottom: 0;
    width: 100%;
  }
  .header__nav li:not(:last-of-type) {
    margin-right: 5px;
  }
  .header__link {
    font-size: 9px;
  }
}
@media (max-width: 575.8px) {
  .header__nav li:not(:last-of-type) {
    margin-right: 0;
  }
  .header__list {
    width: 100%;
  }
}
.search {
  padding: 50px 0 35px 0;
}
.search .search-form {
  position: relative;
  max-width: 540px;
  margin: auto;
}
.search .search-form input {
  width: 100%;
  padding: 12px 93px 12px 18px;
  border: none;
  outline: none;
  background: #F9FBFD;
  color: #52515C;
  font-size: 12px;
  border-radius: 20px;
}
.search .search-form input::placeholder {
  color: #52515C;
  font-size: 12px;
}
.search .search-form label {
  font-size: 12px;
  color: #0F0E16;
}

@media (max-width: 575.8px) {
  .search {
    padding-top: 19px;
    padding-bottom: 0;
  }
  .search .search-form {
    max-width: 390px;
  }
}
.link {
  color: #3E57EC;
  font-size: 14px;
  transition: 0.3s;
}
.link_small {
  font-size: 12px;
}
.link_little {
  font-size: 10px;
}
.link_mini {
  font-size: 13px;
}
.link_large {
  font-size: 24px;
}
.link_margin {
  display: block;
  margin: 0 8px;
}
.link_mr:not(:last-of-type) {
  margin-right: 14px;
}
.link:hover {
  color: #c5a7e5;
  transition: 0.3s;
}

@media (max-width: 1200px) {
  .link_mr {
    font-size: 12px;
  }
  .link_mr:not(:last-of-type) {
    margin-right: 4px;
  }
}
@media (max-width: 991.8px) {
  .link_small {
    font-size: 11px;
  }
  .link_margin {
    margin: 0 4px;
  }
  .link:hover {
    color: #3E57EC;
  }
}
.technical {
  padding: 33px 0 89px 0;
}
.technical__items {
  margin-bottom: 90px;
}
.technical .technical-item {
  background: #F9FBFD;
  padding: 15px;
  height: 100%;
}
.technical .technical-item__image {
  display: flex;
}
.technical .technical-item__image img {
  max-height: 130px;
  max-width: 100%;
  object-fit: contain;
  margin: auto;
}
.technical .technical-item__title {
  font-size: 24px;
  font-weight: 300;
}
.technical .technical-item__links {
  margin-top: 22px;
}

@media (max-width: 1080px) {
  .technical .technical-item__links {
    margin-top: 12px;
  }
  .technical .technical-item__title {
    font-size: 18px;
  }
}
@media (max-width: 991.8px) {
  .technical {
    padding: 0 0 53px 0;
  }
  .technical__items {
    margin-bottom: 45px;
  }
  .technical .technical-item__title {
    font-size: 14px;
  }
  .technical .technical-item__left {
    max-width: 330px;
  }
}
@media (max-width: 767.8px) {
  .technical .technical-item__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 29px;
  background: #0C25F6;
  color: #fff;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s;
}
.button_small {
  position: absolute;
  top: 5px;
  right: 7px;
  z-index: 1;
}
.button_large {
  width: 258px;
  height: 41px;
  margin: 0 auto;
}
.button_middle {
  width: 122px;
  height: 29px;
  margin: 0 auto;
}
.button_form {
  width: 100%;
  height: 29px;
}
.button_form-cat {
  width: 151px;
  height: 29px;
  margin: 0 auto;
}
.button_map {
  width: 135px;
  height: 29px;
  position: absolute;
  top: 37px;
  right: 12px;
  border-radius: 10px;
}
.button_reg {
  width: 135px;
  height: 29px;
  margin: 66px auto 0 auto;
}
.button:hover {
  background: #3E57EC;
  transition: all 0.3s;
}

@media (max-width: 991.8px) {
  .button:hover {
    background: #0C25F6;
  }
}
@media (max-width: 767.8px) {
  .button_form {
    width: 180px;
    height: 29px;
    margin: 0 auto;
  }
  .button_reg {
    margin-top: 41px;
  }
}
.city-service {
  padding: 42px 0;
  background: url("../../img/bg/service/service.webp") center/cover no-repeat;
}
.city-service__item {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
.city-service__item span {
  font-weight: 600;
}
.city-service__item:not(:last-of-type) {
  margin-bottom: 22px;
}

@media (max-width: 575.8px) {
  .city-service {
    font-size: 14px;
  }
}
.brands {
  padding: 95px 0;
}
.brands__items img {
  width: 158px;
  height: 111px;
}

@media (max-width: 1200px) {
  .brands__items img {
    width: 132px;
    height: 93px;
  }
}
@media (max-width: 991.8px) {
  .brands {
    padding: 65px 0 70px 0;
  }
  .brands__items img {
    width: 98px;
    height: 69px;
  }
}
@media (max-width: 767.8px) {
  .brands {
    padding: 53px 0 31px 0;
  }
  .brands__items img {
    width: 122px;
    height: 69px;
  }
}
@media (max-width: 575.8px) {
  .brands__items img {
    width: 109px;
    height: 69px;
  }
}
.title {
  color: #0F0E16;
  font-size: 24px;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 400;
}
.title__firm {
  color: #c4c4c4;
}
.title_big {
  font-size: 31px;
  font-weight: 600;
}
.title_white {
  color: #fff;
}
.title_small {
  font-size: 18px;
}
.title_left {
  text-align: start;
}
.title_lf {
  text-align: start;
}
.title_bold {
  font-weight: 500;
}
.title_large {
  font-size: 36px;
  font-weight: 600;
}
.title_mini {
  color: #0C25F6;
  font-size: 14px;
  font-weight: 300;
}
.title_search {
  font-size: 36px;
  line-height: 42px;
}
.title_search span:first-child {
  color: #0C25F6;
  font-weight: 600;
}
.title_ml {
  margin-left: 15px;
}

@media (max-width: 1200px) {
  .title {
    font-size: 18px;
  }
  .title_search {
    font-size: 36px;
    line-height: 42px;
  }
  .title_large {
    font-size: 24px;
  }
}
@media (max-width: 767.8px) {
  .title_lf {
    font-size: 18px;
  }
}
@media (max-width: 575.8px) {
  .title_search {
    font-size: 24px;
    line-height: 30px;
  }
}
.about {
  padding: 37px 0 72px 0;
  background: url("../../img/bg/about/about.webp") center/cover no-repeat;
}
.about__text {
  font-size: 13px;
  color: #fff;
  font-weight: 300;
  margin-top: 13px;
  margin-bottom: 30px;
}
.about__list li {
  display: flex;
  font-size: 13px;
  color: #fff;
  font-weight: 300;
  margin: 5px 0;
}
.about__list li:before {
  content: "";
  display: flex;
  flex: 0 0 15px;
  background: url("../../img/icons/about-company/apply.svg") center/cover no-repeat;
  width: 15px;
  height: 15px;
  margin-right: 9px;
}
.about__li {
  font-size: 13px;
  color: #fff;
  font-weight: 300;
  margin: 5px 0;
}
.about__li_m {
  display: block;
  margin-top: 13px;
  margin-bottom: 13px;
}

@media (max-width: 1080px) {
  .about__text {
    font-size: 12px;
  }
  .about__li {
    font-size: 12px;
  }
  .about__list li {
    font-size: 12px;
  }
}
.repair {
  padding: 70px 0 60px 0;
}
.repair__list li {
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  .repair__item h2 {
    font-size: 14px;
  }
  .repair__list li a {
    font-size: 12px;
  }
}
@media (max-width: 991.8px) {
  .repair {
    padding: 15px 0 30px 0;
  }
  .repair__list li {
    margin-bottom: 0px;
  }
  .repair__list li a {
    font-size: 10px;
  }
}
@media (max-width: 767.8px) {
  .repair > .container > .row > .col-6:nth-child(4n) {
    display: none;
  }
}
@media (max-width: 575.8px) {
  .repair > .container > .row > .col-6:nth-child(4n) {
    display: block;
  }
}
.places {
  padding: 42px 0 47px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../img/bg/places/places.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.places__wr {
  margin-top: 79px;
}
.places__stations {
  display: flex;
  flex-direction: column;
}
.places__list {
  margin-top: 30px;
  margin-bottom: 38px;
  list-style: url("../../img/icons/places/dot.svg");
}
.places__list li {
  flex: 0 0 33.333%;
  margin-left: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}
.places__list li:not(:last-of-type) {
  margin-bottom: 15px;
}

@media (max-width: 1200px) {
  .places__list li {
    font-size: 11px;
  }
  .places__list li:not(:last-of-type) {
    margin-bottom: 10px;
  }
}
@media (max-width: 991.8px) {
  .places__list li {
    flex: 0 0 42.333%;
  }
}
@media (max-width: 767.8px) {
  .places__wr {
    margin-top: 45px;
  }
  .places__list li {
    flex: 0 0 30.333%;
  }
}
@media (max-width: 575.8px) {
  .places {
    padding: 38px 0;
  }
  .places__list li {
    flex: 0 0 39.333%;
  }
}
.review {
  padding: 89px 0 86px 0;
}
.review .review-item {
  background: #F9FBFD;
  padding: 13px;
  position: relative;
}
.review .review-item__top {
  align-items: center;
}
.review .review-item__img {
  width: 82px;
  height: 82px;
}
.review .review-item__name {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.review .review-item__number {
  color: #52515C;
  font-size: 11px;
}
.review .review-item__bottom {
  margin-top: 27px;
  color: #0F0E16;
  font-size: 11px;
}

@media (max-width: 1200px) {
  .review {
    padding: 61px 0 50px 0;
  }
  .review .review-item__bottom {
    margin-top: 20px;
    font-size: 10px;
  }
}
@media (max-width: 991.8px) {
  .review {
    padding: 53px 0 60px 0;
  }
}
@media (max-width: 767.8px) {
  .review .review-item__bottom {
    padding-left: 100px;
  }
  .review .review-item__img {
    position: relative;
    top: 35px;
    width: 82px;
    height: 82px;
  }
}
@media (max-width: 575.8px) {
  .review {
    padding: 40px 0 50px 0;
  }
}
.last-review {
  padding: 76px 0 70px 0;
  background: #F9FBFD;
}
.last-review__wr {
  margin-top: 57px;
}
.last-review .last-review-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  padding: 9px 6px 7px 6px;
  border-top: 5px solid #0C25F6;
}
.last-review .last-review-item__top {
  margin-bottom: 8px;
}
.last-review .last-review-item__title {
  color: #0F0E16;
  font-size: 12px;
  margin-bottom: 4px;
  display: block;
  font-weight: 500;
}
.last-review .last-review-item__date {
  color: #52515C;
  font-size: 11px;
}
.last-review .last-review-item__text {
  color: #0F0E16;
  font-size: 11px;
  margin: 9px 0;
}
.last-review .last-review-item img[alt=arrow] {
  margin-left: 13px;
}

@media (max-width: 1200px) {
  .last-review {
    padding: 56px 0 64px 0;
  }
  .last-review__wr > .row > .col-md-4:nth-child(3n) {
    display: none;
  }
  .last-review__wr > .row {
    justify-content: space-between;
  }
  .last-review .last-review-item__title {
    font-size: 10px;
  }
  .last-review .last-review-item__text {
    font-size: 10px;
  }
}
@media (max-width: 911.8px) {
  .last-review {
    padding-top: 40px;
  }
}
@media (max-width: 767.8px) {
  .last-review__wr {
    margin-top: 37px;
  }
  .last-review__wr > .row > .col-md-4:nth-child(4n) {
    display: none;
  }
}
.stars .stars-star {
  display: inline-block;
  height: 12px;
  width: 12px;
}
.stars .stars-star_black {
  cursor: pointer;
  width: 22px;
  height: 20px;
  background: url("../../img/icons/about-company/star_black.webp") center/cover no-repeat;
}
.stars .stars-star_full {
  background: url("../../img/icons/review/star.svg") center/cover no-repeat;
}
.stars .stars-star_half {
  background: url("../../img/icons/review/half-star.svg") center/cover no-repeat;
}
.stars .stars-star_empty {
  background: url("../../img/icons/review/empty-star.svg") center/cover no-repeat;
}
.stars_mb {
  margin-bottom: 10px;
}
.stars_mr-l {
  margin-left: 18px;
  margin-right: 4px;
}
.stars_l-mr {
  margin-left: 13px;
  margin-right: 18px;
}

.rating-area {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  overflow: hidden;
}

.rating-area:not(:checked) > input {
  display: none;
}

.rating-area:not(:checked) > label {
  padding: 0;
  margin-right: 1px;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked) > label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../../img/icons/review/empty-star.svg") center/cover no-repeat;
}

.rating-area > input:checked ~ label {
  width: 20px;
  height: 20px;
  background: url("../../img/icons/review/star.svg") center/cover no-repeat;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  width: 20px;
  height: 20px;
  background: url("../../img/icons/review/star.svg") center/cover no-repeat;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  width: 20px;
  height: 20px;
  background: url("../../img/icons/review/star.svg") center/cover no-repeat;
}

.rate-area > label:active {
  position: relative;
}

@media (max-width: 1080px) {
  .stars_mb {
    margin-bottom: 0;
  }
}
.grade {
  font-size: 18px;
  color: #c5a7e5;
}
.grade_mr {
  margin-right: 13px;
}

.footer {
  background: #3E57EC;
  padding: 45px 0 40px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-around;
}
.footer__list li {
  margin-bottom: 11px;
}
.footer__link {
  font-size: 12px;
  color: #fff;
  opacity: 0.7;
  font-weight: 300;
  transition: 0.3s;
}
.footer__link:hover {
  opacity: 1;
  transition: 0.3s;
}

@media (max-width: 1200px) {
  .footer {
    padding: 23px 0;
  }
  .footer__link {
    font-size: 10px;
  }
}
@media (max-width: 991.8px) {
  .footer__link {
    opacity: 1;
  }
}
@media (max-width: 510px) {
  .footer__wrapper {
    flex-wrap: wrap;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
  }
  .footer__list:nth-child(1n) {
    order: 1;
  }
  .footer__list:nth-child(2n) {
    order: 2;
  }
}
.nav-menu {
  background: #F9FBFD;
  margin-top: 20px;
}
.nav-menu__click {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0C25F6;
  font-size: 12px;
  font-family: Raleway, sans-serif;
  cursor: pointer;
  background: #F9FBFD;
  transition: all 0.2s;
  border: none;
  outline: none;
  border-radius: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  height: 28px;
  width: calc(100% - 2px);
  margin: 1px;
}
.nav-menu__click:hover {
  transition: all 0.2s;
  color: #c5a7e5;
}
.nav-menu__click.show {
  z-index: 3;
}
.nav-menu__click.show:after {
  transform: rotate(0deg);
  transition: 0.3s;
  background: #E855D4 url("../../img/icons/nav-menu/arrow.svg") center no-repeat;
}
.nav-menu__click.show:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-left: 1px solid #0C25F6;
  border-top: 1px solid #0C25F6;
  position: absolute;
  top: 24px;
  right: 0;
  transform: rotate(45deg);
  background: #F9FBFD;
}
.nav-menu__click:after {
  content: "";
  margin-left: 10px;
  display: flex;
  flex: 0 0 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: rotate(180deg);
  transition: 0.3s;
  background: #0C25F6 url("../../img/icons/nav-menu/arrow.svg") center no-repeat;
}
.nav-menu__click_af-n:after {
  display: none;
}
.nav-menu__click img {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #0C25F6;
  object-fit: scale-down;
  margin-left: 5px;
}
.nav-menu__click:checked {
  border: 1px solid #3E57EC;
}
.nav-menu__list {
  position: relative;
  width: 100%;
  padding: 30px 15px 7px 16px;
  background: #F9FBFD;
  box-shadow: none;
  top: -1px !important;
  left: -15px !important;
  border: 1px solid #3E57EC;
  z-index: 2;
  transform: none !important;
}
.nav-menu__list.show:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 30px;
  height: 1px;
  background-color: #b2bdf7;
  z-index: 2;
}
.nav-menu__link {
  color: #52515C;
  font-size: 10px;
  padding: 7px 0;
  display: block;
  transition: all 0.2s;
}
.nav-menu__link:hover {
  transition: all 0.2s;
  color: #c5a7e5;
  background: #F9FBFD;
}

@media (max-width: 1200px) {
  .nav-menu__click:hover {
    color: #0C25F6;
  }
  .nav-menu__link:hover {
    color: #52515C;
  }
}
@media (max-width: 991.8px) {
  .nav-menu__click {
    font-size: 10px;
  }
  .nav-menu__click.show:before {
    right: -1px;
  }
  .nav-menu__click:after {
    margin-left: 4px;
    flex: 0 0 9px;
    width: 9px;
    height: 9px;
    background-size: 75%;
  }
  .nav-menu .dropdown-menu {
    min-width: 150px;
  }
  .nav-menu__link {
    padding: 6px 0;
  }
  .nav-menu__link:hover {
    color: #52515C;
    background: transparent;
  }
}
@media (max-width: 767.8px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    margin-top: 0;
    height: 100%;
    z-index: 5;
    transition: all 0.4s;
    overflow: auto;
  }
  .nav-menu .logo {
    padding-left: 16px;
  }
  .nav-menu .logo__tech {
    margin-left: -9px;
  }
  .nav-menu .container {
    margin-top: 21px;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
  }
  .nav-menu__click {
    justify-content: space-between;
    font-size: 12px;
    padding: 0 16px;
  }
  .nav-menu__click.show {
    background: #fff;
  }
  .nav-menu__click:after {
    width: 12px;
    height: 12px;
    flex: 0 0 12px;
    background-position: center;
    background-size: 10px;
  }
  .nav-menu__click.show:after {
    border: 1px solid #3E57EC;
    width: 12px;
    height: 12px;
    flex: 0 0 12px;
    background: url("../../img/icons/nav-menu/arrow_b.svg") center/10px no-repeat;
  }
  .nav-menu__click.show:before {
    display: none;
  }
  .nav-menu__list {
    padding: 20px 0 20px 17px;
    top: 0 !important;
    left: 0 !important;
    margin-top: -1px !important;
    border: none;
  }
  .nav-menu__list.dropdown-menu {
    position: relative !important;
  }
  .nav-menu__list.show {
    background: #fff;
  }
  .nav-menu__list.show:after {
    display: none;
  }
  .nav-menu__wr {
    margin-top: 31px;
    flex-direction: column;
  }
  .nav-menu__link {
    font-size: 10px;
    color: #0C25F6;
  }
  .nav-menu_active {
    top: 0;
    transition: all 0.4s;
  }
}
.technical-xl {
  padding: 50px 0 100px 0;
}
.technical-xl__wrapper {
  padding: 40px 0 45px 0;
  background: #F9FBFD;
}
.technical-xl__wrapper_pd-wash {
  padding: 0 0 45px 0;
}
.technical-xl__wrapper_pd-watch {
  padding: 10px 0;
}
.technical-xl__wrapper img {
  max-width: 200px;
  width: 100%;
}
.technical-xl__list {
  margin-top: 29px;
}
.technical-xl_pd {
  padding: 89px 0 50px 0;
}

@media (max-width: 1200px) {
  .technical-xl {
    padding: 25px 0;
  }
}
@media (max-width: 765.8px) {
  .technical-xl__wrapper img {
    max-width: 150px;
  }
  .technical-xl__wrapper .title {
    font-size: 14px;
  }
  .technical-xl__list li .link {
    font-size: 12px;
  }
  .technical-xl__list {
    margin-top: 15px;
  }
}
.repair-places {
  padding: 33px 0 47px 0;
}
.repair-places__wrapper {
  margin-top: 45px;
}
.repair-places__text {
  color: #0F0E16;
  font-size: 12px;
}
.repair-places__ml {
  margin-left: 4px;
}
.repair-places__result {
  color: #0F0E16;
  font-size: 11px;
}
.repair-places__also {
  color: #0F0E16;
  font-size: 12px;
  margin-top: 28px;
}
.repair-places__about {
  margin-top: 171px;
  color: #0F0E16;
  font-size: 12px;
}
.repair-places__about img {
  width: 12px;
  height: 14px;
  margin-right: 7px;
}
.repair-places__about div:not(:last-of-type) {
  margin-bottom: 11px;
}
.repair-places__logo {
  width: 100%;
  object-fit: scale-down;
  max-height: 278px;
}

@media (max-width: 1200px) {
  .repair-places .title {
    font-size: 21px;
  }
  .repair-places__result {
    font-size: 10px;
  }
  .repair-places__about {
    margin-top: 131px;
    font-size: 11px;
  }
}
@media (max-width: 991.8px) {
  .repair-places {
    padding-bottom: 0;
  }
  .repair-places__about {
    margin-top: 0;
  }
  .repair-places__about img {
    margin-right: 5px;
  }
}
@media (max-width: 767.8px) {
  .repair-places__about {
    margin-top: 30px;
  }
  .repair-places__logo {
    width: 145%;
  }
}
@media (max-width: 575.8px) {
  .repair-places {
    padding: 0;
  }
  .repair-places__logo {
    width: 30%;
  }
}
.category {
  padding: 39px 0 45px 0;
}
.category__brands {
  margin-left: 10px;
}
.category__info {
  color: #52515C;
  font-size: 11px;
  margin-top: 24px;
}
.category__info a {
  color: #52515C;
  font-size: 12px;
}
.category__info span {
  margin: 0 10px;
}
.category__item {
  padding: 14px 38px 13px 15px;
  background: #F9FBFD;
}
.category__item h2 {
  font-size: 13px;
}
.category .category-types__link {
  display: block;
  padding: 14px 15px;
  background: #F9FBFD;
  color: #52515C;
  font-size: 24px;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  border-radius: 3px;
}
.category .category-types__link:not(:last-of-type) {
  margin-right: 16px;
}
.category__link {
  padding: 0;
  font-size: 14px;
  color: #0C25F6;
}
.category .category-buttons {
  display: flex;
}
.category .category-buttons__button {
  background: #F9FBFD;
  border-radius: 3px;
  color: #52515C;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.category .category-buttons__button_rate {
  width: 121px;
  height: 37px;
  margin-right: 10px;
}
.category .category-buttons__button_review {
  width: 164px;
  height: 37px;
}
.category .category-buttons__button_active {
  background: #3E57EC;
  color: #fff;
}
.category .category-buttons_mt {
  margin-top: 112px;
}
.category__map {
  margin-top: 58px;
  border-top: 5px solid #0C25F6;
  border-radius: 5px;
  width: 100%;
  height: 288px;
  background: url("../../img/icons/category/map.webp") center/cover no-repeat;
}
.category__map img[alt=mark] {
  margin-bottom: 44px;
}
.category__aside {
  margin-top: 65px;
}
.category__metro {
  margin-top: 55px;
}
.category__list {
  margin-top: 26px;
  padding-left: 15px;
  list-style: url("../../img/icons/places/dot.svg");
}
.category__list li {
  margin: 7px 0;
}
.category__tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.category__tags li {
  margin-top: 11px;
}
.category__tags li:not(:last-of-type) {
  margin-right: 18px;
}
.category__tag {
  display: block;
  color: #52515C;
  padding: 15px;
  background: #F9FBFD;
  font-size: 12px;
  border-radius: 3px;
  transition: all 0.2s;
}
.category__tag:hover {
  transition: all 0.2s;
  background: #d9d9de;
}

@media (max-width: 1200px) {
  .category__tag:hover {
    background: #F9FBFD;
  }
}
@media (max-width: 991.8px) {
  .category .category-buttons_mt {
    margin-top: 100px;
  }
  .category__info {
    margin-top: 0;
  }
  .category__map {
    margin-top: 30px;
    height: 165px;
  }
  .category__map img[alt=mark] {
    margin-bottom: 24px;
  }
  .category__metro {
    margin-top: 24px;
  }
  .category__list {
    margin-top: 13px;
  }
  .category__item h2 {
    font-size: 11px;
  }
  .category__link {
    font-size: 12px;
  }
}
@media (max-width: 767.8px) {
  .category__tags {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .category__brands {
    margin-left: 15px;
  }
}
@media (max-width: 575.8px) {
  .category__metro {
    margin-left: 60px;
  }
  .category .category-buttons_mt {
    margin-top: 40px;
  }
  .category__link {
    font-size: 12px;
  }
}
.form-repair {
  border-top: 5px solid #0C25F6;
  border-radius: 5px;
  padding: 16px 23px 34px 24px;
  font-size: 12px;
  background: #F9FBFD;
}
.form-repair label {
  margin-bottom: 13px;
}
.form-repair input {
  width: 100%;
  height: 37px;
  border: none;
  outline: none;
  background: #fff;
  padding: 11px 35px 12px 6px;
}
.form-repair input::placeholder {
  color: #52515C;
  font-size: 12px;
}
.form-repair__rate input {
  width: 42px;
  padding: 15px 18px 19px 17px;
}

@media (max-width: 767.8px) {
  .form-repair {
    padding: 16px 15px 34px 15px;
  }
  .form-repair__rate {
    max-width: 250px;
  }
}
.company {
  padding-bottom: 120px;
}
.company__wr {
  padding: 22px 25px 33px 15px;
  background: #F9FBFD;
  border-top: 5px solid #c5a7e5;
  border-radius: 3px;
}
.company__wr_bg-w {
  background: #fff;
}
.company__wr_mb {
  margin-bottom: 69px;
}
.company__contact {
  margin-left: 15px;
}
.company__contact_large {
  margin-left: 40px;
}
.company__list_mb {
  margin-bottom: 65px;
}
.company__list li:not(:last-of-type) {
  margin-right: 10px;
}
.company__metro-map {
  margin-left: auto;
  margin-right: auto;
  width: 148px;
}
.company__link {
  border-radius: 3px;
  display: block;
  color: #fff;
  padding: 6px 11px;
  font-size: 12px;
  background: #c5a7e5;
  transition: 0.3s;
}
.company__link:hover {
  background: #9778b2;
  transition: 0.3s;
}
.company__places {
  margin-top: 25px;
  background: #fff;
  padding: 12px 29px 11px 15px;
}
.company__places_bg-d {
  background: #F9FBFD;
}
.company__master-list li {
  display: flex;
  font-size: 12px;
  color: #52515C;
}
.company__master-list li:not(:last-of-type) {
  margin-bottom: 16px;
}
.company__master-list li:before {
  content: "";
  display: flex;
  flex: 0 0 15px;
  background: url("../../img/icons/company/apply.svg") center/cover no-repeat;
  width: 15px;
  height: 15px;
  margin-right: 9px;
}
.company__contact-title {
  font-size: 14px;
  color: #52515C;
  font-weight: 300;
  margin-bottom: 27px;
}
.company__map {
  width: 100%;
  height: 125px;
}
.company__nearby {
  font-size: 10px;
  color: #0F0E16;
  margin-bottom: 12px;
}
.company__mark {
  display: flex;
  font-size: 11px;
  color: #0F0E16;
  margin-bottom: 2px;
}
.company__mark:before {
  content: "";
  display: flex;
  flex: 0 0 11px;
  background: url("../../img/icons/company/mark.svg") center/cover no-repeat;
  width: 11px;
  height: 13px;
  margin-right: 8px;
}
.company__time {
  margin-left: 20px;
  font-size: 10px;
  color: #52515C;
  margin-bottom: 12px;
}
.company__review {
  color: #C4C1C8;
  margin-top: 41px;
  background: #fff;
  padding: 14px;
}
.company__review p {
  margin: 0 0 0 41px;
  font-size: 12px;
}
.company__repairs {
  margin-top: 40px;
}
.company__repair {
  display: flex;
  color: #52515C;
  font-size: 11px;
}
.company__repair div {
  border-bottom: 1px dashed #52515C;
  flex-grow: 1;
  margin: 0 8px 0 15px;
}
.company__repair:not(:last-of-type) {
  margin-bottom: 29px;
}
.company__pages {
  display: flex;
  margin-top: 90px;
}
.company__pages li:not(:last-of-type) {
  margin-right: 14px;
}
.company__page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background: #F9FBFD;
  color: #C4C1C8;
  font-size: 12px;
  transition: all 0.2s;
}
.company__page-link:hover {
  background: #3E57EC;
  transition: all 0.2s;
  color: #fff;
}
.company__page-link_active {
  background: #3E57EC;
  color: #fff;
}

@media (max-width: 1200px) {
  .company__list li:not(:last-of-type) {
    margin-right: 8px;
    margin-bottom: 10px;
  }
}
@media (max-width: 991.8px) {
  .company {
    padding-bottom: 75px;
  }
  .company__link:hover {
    background: #c5a7e5;
  }
  .company__metro-wrapper {
    margin-top: 15px;
  }
  .company__pages {
    margin-top: 45px;
  }
  .company__page-link:hover {
    background: #F9FBFD;
    transition: 0.3s;
    color: #fff;
  }
  .company__master-list li {
    font-size: 10px;
  }
  .company__mark {
    font-size: 10px;
  }
}
@media (max-width: 767.8px) {
  .company {
    padding-bottom: 54px;
  }
  .company__pages {
    margin-top: 40px;
  }
  .company__list_mb {
    margin-bottom: 50px;
  }
  .company__review p {
    margin: 0 0 0 14px;
  }
  .company__rate {
    margin-left: 100px;
  }
  .company__rate .stars {
    margin: 0 13px;
  }
}
@media (max-width: 575.8px) {
  .company__list li {
    margin-top: 10px;
  }
  .company__list li:not(:last-of-type) {
    margin-right: 2px;
  }
  .company__page-link:not(:last-of-type) {
    margin-right: 17px;
  }
  .company__metro-map {
    width: 198px;
  }
}
.phone {
  color: #E855D4;
  font-size: 18px;
}
.phone_mt {
  margin-top: 14px;
}
.phone_border {
  border: 2px solid #E855D4;
  border-radius: 20px;
  width: 180px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.phone_ml {
  margin-left: 39px;
}

@media (max-width: 991.8px) {
  .phone_ml {
    margin: 0 auto;
  }
}
@media (max-width: 575.8px) {
  .phone {
    font-size: 14px;
  }
}
.about-company {
  padding-bottom: 160px;
}
.about-company__nav {
  margin-top: 50px;
  margin-bottom: 37px;
}
.about-company__name-wr {
  max-width: 693px;
  width: 100%;
}
.about-company__img {
  width: 150px;
  margin-right: 30px;
}
.about-company__title {
  font-size: 13px;
  font-weight: 300;
}
.about-company__name {
  font-size: 36px;
  color: #3E57EC;
  font-weight: 300;
  margin: 27px 0 8px 0;
}
.about-company .accordion-body ul li {
  display: flex !important;
  justify-content: space-between;
}
.about-company .accordion-body ul li:not(:first-of-type) {
  padding-right: 15px;
}
.about-company__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  font-size: 12px;
  background: #F9FBFD;
  transition: all 0.3s;
  border-radius: 3px;
}
.about-company__link:hover {
  transition: all 0.3s;
  color: #c5a7e5;
  background: #EFF0F0;
}
.about-company__master-wr {
  background: #F9FBFD;
  padding: 25px 15px;
  margin: 18px 0 63px 0;
}
.about-company__founded li {
  color: #52515C;
  font-size: 12px;
}
.about-company__founded li span {
  font-weight: 700;
}
.about-company img[alt=map] {
  width: 100%;
}
.about-company__metro {
  margin-top: 27px;
  font-size: 12px;
  color: #0F0E16;
}
.about-company__metro span {
  display: flex;
}
.about-company__metro span:not(:last-of-type) {
  margin-right: 10px;
}
.about-company__metro span:before {
  content: "";
  display: flex;
  flex: 0 0 12px;
  background: url("../../img/icons/about-company/metro.svg") center/cover no-repeat;
  width: 12px;
  height: 12px;
  margin-right: 8px;
}
.about-company__time {
  margin-top: 28px;
  font-size: 12px;
  color: #0F0E16;
}
.about-company__operating {
  display: block;
  font-size: 12px;
  font-weight: 500;
  margin-right: 10px;
}
.about-company__accordion-wr {
  margin-top: 30px;
}
.about-company .about-company-accordion {
  margin-top: 88px;
}
.about-company .about-company-accordion__item {
  border: 2px solid #0C25F6;
}
.about-company .about-company-accordion__button {
  position: relative;
  padding: 20px 0 20px 79px;
  color: #3E57EC;
  background: #F9FBFD;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  border-radius: 3px;
}
.about-company .about-company-accordion .accordion-button.collapsed:after {
  transform: rotate(0deg);
  transition: 0.3s;
}
.about-company .about-company-accordion .accordion-button:before {
  position: absolute;
  left: 20px;
  content: "";
  display: block;
  width: 33px;
  height: 1px;
  background: #0C25F6;
}
.about-company .about-company-accordion .accordion-button:after {
  left: 36px;
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 33px;
  background: #0C25F6;
  transform: rotate(-90deg);
  transition: 0.3s;
}
.about-company .about-company-accordion ul li {
  font-size: 14px;
  color: #52515C;
  margin-left: 70px;
  padding-bottom: 2px;
  margin-bottom: 20px;
  display: block;
}
.about-company .about-company-accordion ul li:first-of-type {
  font-weight: 500;
  padding: 7px 0 10px 70px;
  background: #F9FBFD;
  margin-left: 0;
}
.about-company .about-company-accordion ul li:not(:last-of-type) {
  border-bottom: 2px solid #F9FBFD;
}
.about-company__reviews {
  margin-top: 90px;
}
.about-company__reviews-wr {
  margin-left: 15px;
}
.about-company .about-company-review {
  border-top: 3px solid #c5a7e5;
  padding: 15px 35px 0 15px;
}
.about-company .about-company-review_mt {
  margin-top: 73px;
}
.about-company .about-company-review__rate {
  max-width: 315px;
}
.about-company .about-company-review__name span:first-of-type {
  font-size: 12px;
  font-weight: 500;
  color: #52515C;
}
.about-company .about-company-review__name span:last-of-type {
  font-size: 11px;
  font-weight: 300;
}
.about-company .about-company-review__rate-num {
  font-size: 11px;
  color: #52515C;
  margin-right: 5px;
}
.about-company .about-company-review p {
  margin: 0;
  color: #52515C;
  font-size: 12px;
}
.about-company .about-company-feedback {
  margin-top: 70px;
  margin-bottom: 140px;
}
.about-company .about-company-feedback__you-p {
  margin-right: 5px;
}
.about-company .about-company-feedback__form {
  margin-top: 20px;
  border-radius: 5px;
  border-top: 5px solid #0C25F6;
  padding: 21px 15px 24px 15px;
  background: #F9FBFD;
}
.about-company .about-company-feedback__form input {
  max-width: 350px;
  width: 100%;
  padding: 12px 15px;
  border: none;
  outline: none;
  border-radius: 3px;
}
.about-company .about-company-feedback__form input::placeholder {
  font-size: 12px;
  color: #52515C;
}
.about-company .about-company-feedback__you-p {
  font-size: 12px;
  color: #52515C;
}
.about-company .about-company-feedback textarea {
  margin-top: 33px;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 80px;
  padding: 10px 16px;
  margin-bottom: 20px;
}
.about-company .about-company-feedback textarea::placeholder {
  font-size: 12px;
  color: #52515C;
}
.about-company__photos {
  margin-top: 78px;
}
.about-company__photo-link {
  font-size: 24px;
  height: 100%;
  min-height: 100%;
  background: url("../../img/icons/about-company/photo_6.webp") center/cover no-repeat;
}
.about-company .about-company-stock {
  height: 125px;
  padding: 10px 8px;
}
.about-company .about-company-stock_1 {
  background: url("../../img/icons/about-company/stock_1.webp") center/cover no-repeat;
}
.about-company .about-company-stock_2 {
  background: url("../../img/icons/about-company/stock_4.webp") center/cover no-repeat;
}
.about-company .about-company-stock_3 {
  background: url("../../img/icons/about-company/stock_3.webp") center/cover no-repeat;
}
.about-company .about-company-stock_4 {
  background: url("../../img/icons/about-company/stock_2.webp") center/cover no-repeat;
}
.about-company .about-company-stock_5 {
  background: url("../../img/icons/about-company/stock_3.webp") center/cover no-repeat;
}
.about-company .about-company-stock_6 {
  background: url("../../img/icons/about-company/stock_4.webp") center/cover no-repeat;
}
.about-company .about-company-stock__date {
  color: #E855D4;
  background: #fff;
  font-size: 12px;
  border-radius: 3px;
  width: 119px;
  height: 20px;
}
.about-company .about-company-stock__desc {
  color: #fff;
  font-size: 12px;
  font-family: Raleway, sans-serif;
  font-weight: 600;
}
.about-company__photos img {
  width: 100%;
}
.about-company .about-company-faq {
  margin-top: 105px;
}
.about-company .about-company-faq__title {
  font-size: 18px;
  color: #0F0E16;
  font-weight: 300;
}
.about-company .about-company-faq__text {
  font-size: 14px;
  font-weight: 300;
  color: #0F0E16;
  margin: 16px 0 40px 0;
}
.about-company .about-company-faq__text:last-of-type {
  margin-bottom: 0;
}
.about-company .about-company-social {
  margin-top: 105px;
}
.about-company .about-company-social__link {
  display: block;
}
.about-company .about-company-social__link:not(:last-of-type) {
  margin-right: 17px;
}

@media (max-width: 1200px) {
  .about-company .title {
    font-size: 24px;
  }
  .about-company__master-wr {
    margin-bottom: 50px;
  }
  .about-company .about-company-accordion {
    margin-top: 70px;
  }
  .about-company__reviews {
    margin-top: 50px;
  }
  .about-company__link:hover {
    color: #0C25F6;
    background: #F9FBFD;
  }
}
@media (max-width: 991.8px) {
  .about-company {
    padding-bottom: 110px;
  }
  .about-company__nav {
    margin-top: 24px;
  }
  .about-company .about-company-accordion {
    margin-top: 50px;
  }
  .about-company__name-wr {
    max-width: 100%;
  }
  .about-company .about-company-feedback__you-p {
    margin-right: 10px;
  }
  .about-company .about-company-feedback__form input {
    max-width: 200px;
  }
  .about-company__img {
    width: 117px;
    height: 122px;
  }
  .about-company__link:hover {
    color: #3E57EC;
  }
  .about-company__reviews-wr {
    margin-top: 50px;
  }
  .about-company .about-company-feedback {
    margin-top: 45px;
    margin-bottom: 0;
  }
  .about-company__photos {
    margin-top: 50px;
  }
  .about-company .about-company-faq {
    margin-top: 80px;
  }
}
@media (max-width: 767.8px) {
  .about-company {
    padding-bottom: 100px;
  }
  .about-company__nav {
    margin-top: 14px;
  }
  .about-company .about-company-feedback__rate {
    margin-left: 15px;
    max-width: 200px;
  }
  .about-company .about-company-feedback__form input {
    max-width: 100%;
  }
  .about-company__img {
    width: 90px;
    height: 94px;
  }
  .about-company .phone {
    margin-left: auto;
  }
  .about-company__name-wr {
    max-width: 320px;
  }
  .about-company__name {
    font-size: 24px;
  }
}
@media (max-width: 575.8px) {
  .about-company {
    padding-bottom: 45px;
  }
  .about-company__reviews-wr {
    margin-top: 50px;
  }
  .about-company .about-company-feedback {
    margin-top: 45px;
    margin-bottom: 0;
  }
  .about-company__photos {
    margin-top: 40px;
  }
  .about-company .about-company-social {
    margin-top: 40px;
  }
  .about-company .about-company-faq {
    margin-top: 45px;
  }
  .about-company .about-company-feedback__you-p {
    margin-right: 0;
  }
  .about-company .about-company-feedback__form input {
    max-width: 100%;
  }
}
.register-service {
  padding: 70px 0;
}
.register-service input {
  max-width: 100%;
  width: 100%;
  padding: 11px 15px;
  border: none;
  outline: none;
  background: #F9FBFD;
  border-radius: 10px;
  margin-left: -10px;
}
.register-service input::placeholder {
  font-size: 12px;
  color: #52515C;
}
.register-service__search {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  margin-bottom: 10px;
  color: #0F0E16;
}
.register-service__text {
  margin-top: 8px;
  font-size: 10px;
  color: #0F0E16;
  margin-bottom: 0;
}
.register-service__a-wr {
  position: relative;
}
.register-service__a-wr input {
  padding-right: 150px;
}
.register-service__a-wr input::placeholder {
  color: #52515C;
  font-size: 12px;
}
.register-service__reg {
  font-size: 18px;
  color: #0F0E16;
  margin: 36px 0 10px 0;
}
.register-service__map {
  width: 100%;
  height: 324px;
}

@media (max-width: 1200px) {
  .register-service .title {
    font-size: 24px;
  }
}
@media (max-width: 991.8px) {
  .register-service__p-0 {
    padding-right: 0;
  }
}
@media (max-width: 767.8px) {
  .register-service__text:first-of-type {
    margin-bottom: 30px;
  }
  .register-service__text:last-of-type {
    margin-bottom: 50px;
  }
}
@media (max-width: 575.8px) {
  .register-service input {
    margin-left: 0;
  }
}
.service-center {
  padding: 67px 0 93px 0;
}
.service-center__line {
  margin-top: 93px;
}
.service-center__list li:not(:last-of-type) {
  margin-bottom: 11px;
}

@media (max-width: 1200px) {
  .service-center {
    padding-top: 58px;
  }
  .service-center__line {
    margin-top: 50px;
  }
}
@media (max-width: 575.8px) {
  .service-center {
    padding-top: 40px;
  }
  .service-center__line {
    margin-top: 40px;
  }
}
.service-brands {
  padding: 67px 0 100px 0;
}
.service-brands__links {
  margin-top: 42px;
}
.service-brands__link {
  width: 32px;
  height: 32px;
  display: flex;
  border: 1px solid #c5a7e5;
  background: #F9FBFD;
  justify-content: center;
  align-items: center;
  color: #C4C1C8;
  font-size: 12px;
  text-transform: uppercase;
}
.service-brands__link:not(:last-of-type) {
  margin-right: 5px;
}
.service-brands__link_large {
  width: 65px;
}
.service-brands__link_active {
  background: #6495F1;
  color: #fff;
}
.service-brands__item {
  height: 140px;
  background: #F9FBFD;
}
.service-brands__item a {
  font-size: 18px;
}
.service-brands__item span {
  font-size: 12px;
  color: #52515C;
}

@media (max-width: 1200px) {
  .service-brands__link {
    margin-top: 14px;
  }
}
@media (max-width: 991.8px) {
  .service-brands {
    padding-top: 55px;
  }
}
.modal-brands__header {
  position: relative;
  border-bottom: 1px solid #c5a7e5;
  padding: 10px 30px 10px 30px;
}
.modal-brands__title {
  font-size: 24px;
  color: #3E57EC;
  font-weight: 300;
}

.hamburger {
  padding: 0;
  width: 42px;
  height: 33px;
  cursor: pointer;
  background: #F9FBFD;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 200;
  display: none;
}
.hamburger span {
  transition: 0.5s all;
  display: block;
  height: 2px;
  width: 61%;
  background: #c5a7e5;
}
.hamburger span:not(:last-of-type) {
  margin-bottom: 5px;
}
.hamburger_active {
  background: none;
}
.hamburger_active span:nth-child(1) {
  transform: rotate(-45deg);
  margin-bottom: -2px;
}
.hamburger_active span:nth-child(2) {
  transform: rotate(45deg);
  margin-bottom: -2px;
}
.hamburger_active span:nth-child(3) {
  transform: rotate(-45deg);
  display: none;
}

@media (max-width: 767.8px) {
  .hamburger {
    display: flex;
  }
  .hamburger_active {
    position: fixed;
    top: 14px;
    right: 2px;
  }
}
@media (max-width: 575.8px) {
  .hamburger_active {
    right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
